@charset 'UTF-8';
/*-----------------------------------*  $TOAST-GRID
  An insane grid.
  You'd be mad to use it.
  Usage
  =====
  Assuming default values:
  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>
  Customisation
  =============
  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.
  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.
  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.
  That's it. Have fun.
\*-----------------------------------*/
.row
{
    margin-left: -15px; 

    list-style: none;
}

.col--2-of-2,
.col--3-of-3,
.col--4-of-4,
.col--5-of-5,
.col--6-of-6,
.col--8-of-8,
.col--12-of-12
{
    width: 100%;
}

.col--1-of-2,
.col--2-of-4,
.col--3-of-6,
.col--4-of-8,
.col--6-of-12
{
    width: 50%;
}

.col--1-of-3,
.col--2-of-6,
.col--4-of-12
{
    width: 33.33333%;
}

.col--2-of-3,
.col--4-of-6,
.col--8-of-12
{
    width: 66.66667%;
}

.col--1-of-4,
.col--2-of-8,
.col--3-of-12
{
    width: 25%;
}

.col--3-of-4,
.col--6-of-8,
.col--9-of-12
{
    width: 75%;
}

.col--push-2-of-2,
.col--push-3-of-3,
.col--push-4-of-4,
.col--push-5-of-5,
.col--push-6-of-6,
.col--push-8-of-8,
.col--push-12-of-12
{
    margin-left: 100%;
}

.col--push-1-of-2,
.col--push-2-of-4,
.col--push-3-of-6,
.col--push-4-of-8,
.col--push-6-of-12
{
    margin-left: 50%;
}

.col--push-1-of-3,
.col--push-2-of-6,
.col--push-4-of-12
{
    margin-left: 33.33333%;
}

.col--push-2-of-3,
.col--push-4-of-6,
.col--push-8-of-12
{
    margin-left: 66.66667%;
}

.col--push-1-of-4,
.col--push-2-of-8,
.col--push-3-of-12
{
    margin-left: 25%;
}

.col--push-3-of-4,
.col--push-6-of-8,
.col--push-9-of-12
{
    margin-left: 75%;
}

.col--pull-2-of-2,
.col--pull-3-of-3,
.col--pull-4-of-4,
.col--pull-5-of-5,
.col--pull-6-of-6,
.col--pull-8-of-8,
.col--pull-12-of-12
{
    margin-left: -100%;
}

.col--pull-1-of-2,
.col--pull-2-of-4,
.col--pull-3-of-6,
.col--pull-4-of-8,
.col--pull-6-of-12
{
    margin-left: -50%;
}

.col--pull-1-of-3,
.col--pull-2-of-6,
.col--pull-4-of-12
{
    margin-left: -33.33333%;
}

.col--pull-2-of-3,
.col--pull-4-of-6,
.col--pull-8-of-12
{
    margin-left: -66.66667%;
}

.col--pull-1-of-4,
.col--pull-2-of-8,
.col--pull-3-of-12
{
    margin-left: -25%;
}

.col--pull-3-of-4,
.col--pull-6-of-8,
.col--pull-9-of-12
{
    margin-left: -75%;
}

.col--1-of-5
{
    width: 20%;
}

.col--push-1-of-5
{
    margin-left: 20%;
}

.col--pull-1-of-5
{
    margin-left: -20%;
}

.col--2-of-5
{
    width: 40%;
}

.col--push-2-of-5
{
    margin-left: 40%;
}

.col--pull-2-of-5
{
    margin-left: -40%;
}

.col--3-of-5
{
    width: 60%;
}

.col--push-3-of-5
{
    margin-left: 60%;
}

.col--pull-3-of-5
{
    margin-left: -60%;
}

.col--4-of-5
{
    width: 80%;
}

.col--push-4-of-5
{
    margin-left: 80%;
}

.col--pull-4-of-5
{
    margin-left: -80%;
}

.col--1-of-6
{
    width: 16.66667%;
}

.col--push-1-of-6
{
    margin-left: 16.66667%;
}

.col--pull-1-of-6
{
    margin-left: -16.66667%;
}

.col--5-of-6
{
    width: 83.33333%;
}

.col--push-5-of-6
{
    margin-left: 83.33333%;
}

.col--pull-5-of-6
{
    margin-left: -83.33333%;
}

.col--1-of-8
{
    width: 12.5%;
}

.col--push-1-of-8
{
    margin-left: 12.5%;
}

.col--pull-1-of-8
{
    margin-left: -12.5%;
}

.col--3-of-8
{
    width: 37.5%;
}

.col--push-3-of-8
{
    margin-left: 37.5%;
}

.col--pull-3-of-8
{
    margin-left: -37.5%;
}

.col--5-of-8
{
    width: 62.5%;
}

.col--push-5-of-8
{
    margin-left: 62.5%;
}

.col--pull-5-of-8
{
    margin-left: -62.5%;
}

.col--7-of-8
{
    width: 87.5%;
}

.col--push-7-of-8
{
    margin-left: 87.5%;
}

.col--pull-7-of-8
{
    margin-left: -87.5%;
}

.col--1-of-12
{
    width: 8.33333%;
}

.col--push-1-of-12
{
    margin-left: 8.33333%;
}

.col--pull-1-of-12
{
    margin-left: -8.33333%;
}

.col--2-of-12
{
    width: 16.66667%;
}

.col--push-2-of-12
{
    margin-left: 16.66667%;
}

.col--pull-2-of-12
{
    margin-left: -16.66667%;
}

.col--5-of-12
{
    width: 41.66667%;
}

.col--push-5-of-12
{
    margin-left: 41.66667%;
}

.col--pull-5-of-12
{
    margin-left: -41.66667%;
}

.col--7-of-12
{
    width: 58.33333%;
}

.col--push-7-of-12
{
    margin-left: 58.33333%;
}

.col--pull-7-of-12
{
    margin-left: -58.33333%;
}

.col--10-of-12
{
    width: 83.33333%;
}

.col--push-10-of-12
{
    margin-left: 83.33333%;
}

.col--pull-10-of-12
{
    margin-left: -83.33333%;
}

.col--11-of-12
{
    width: 91.66667%;
}

.col--push-11-of-12
{
    margin-left: 91.66667%;
}

.col--pull-11-of-12
{
    margin-left: -91.66667%;
}

.col
{
    display: inline-block;

    box-sizing: border-box;
    min-height: 1px;
    margin-right: -.25em;
    padding-left: 15px;

    vertical-align: top;
}
@media (max-width: 1170px)
{
    .col
    {
        display: block;

        width: auto; 
        margin-right: 0;
        margin-left: 0;
    }
}
@media (max-width: 1170px) and (min-width: 900px)
{
    .col[class*='col--m-']
    {
        display: inline-block;

        margin-right: -.24em;
    }
    .col.col--m-1-of-2,
    .col.col--m-2-of-4
    {
        width: 50%;
    }
    .col.col--m-1-of-3
    {
        width: 33.33333%;
    }
    .col.col--m-2-of-3
    {
        width: 66.66667%;
    }
    .col.col--m-1-of-4
    {
        width: 25%;
    }
    .col.col--m-3-of-4
    {
        width: 75%;
    }
}
@media (max-width: 900px)
{
    .col[class*='col--s-']
    {
        display: inline-block;

        margin-right: -.24em;
    }
    .col.col--s-1-of-2,
    .col.col--s-2-of-4
    {
        width: 50%;
    }
    .col.col--s-1-of-3
    {
        width: 33.33333%;
    }
    .col.col--s-2-of-3
    {
        width: 66.66667%;
    }
    .col.col--s-1-of-4
    {
        width: 25%;
    }
    .col.col--s-3-of-4
    {
        width: 75%;
    }
}

.col--centered
{
    display: block;

    margin-right: auto; 
    margin-left: auto;
}

.col--d-first
{
    float: left;
}

.col--d-last
{
    float: right;
}

.row--no-gutter
{
    width: 100%; 
    margin-left: 0;
}
.row--no-gutter .col
{
    padding-left: 0;
}
.row--no-gutter .col--span-all
{
    width: 100%; 
    margin-left: 0;
}

.col--ab
{
    vertical-align: bottom;
}

.col--am
{
    vertical-align: middle;
}

@font-face
{
    font-family: 'Raleway';
    font-weight: bold;
    font-style: normal; 

    src: url('../fonts/subset-Raleway-Bold.eot');
    src: url('../fonts/subset-Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-Raleway-Bold.woff2') format('woff2'), url('../fonts/subset-Raleway-Bold.woff') format('woff'), url('../fonts/subset-Raleway-Bold.svg#Raleway-Bold') format('svg');
}

@font-face
{
    font-family: 'Bringin';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/subset-Bringin.eot');
    src: url('../fonts/subset-Bringin.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-Bringin.woff2') format('woff2'), url('../fonts/subset-Bringin.woff') format('woff'), url('../fonts/subset-Bringin.svg#Bringin') format('svg');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/subset-Roboto-Regular.eot');
    src: url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-Roboto-Regular.woff2') format('woff2'), url('../fonts/subset-Roboto-Regular.woff') format('woff'), url('../fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
}

@font-face
{
    font-family: 'Roboto-Black';
    font-weight: 900;
    font-style: normal; 

    src: url('../fonts/subset-Roboto-Black.eot');
    src: url('../fonts/subset-Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-Roboto-Black.woff2') format('woff2'), url('../fonts/subset-Roboto-Black.woff') format('woff'), url('../fonts/subset-Roboto-Black.svg#Roboto-Black') format('svg');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal; 

    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
}

font-face
{
    font-family: 'League Gothic';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/LeagueGothic-Regular.eot');
    src: url('../fonts/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/LeagueGothic-Regular.woff2') format('woff2'), url('../fonts/LeagueGothic-Regular.woff') format('woff'), url('../fonts/LeagueGothic-Regular.svg#LeagueGothic-Regular') format('svg');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff2') format('woff2'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal; 

    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
}

img
{
    max-width: 100%;
}

html
{
    font-size: 14px;
}

body
{
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.action-link
{
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;

    display: inline-block;

    padding: 1px 40px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px;
    background-color: #36aeea; 
    box-shadow: 0 0 35px rgba(3, 3, 3, .06);
}

.container
{
    width: 1170px;
    margin: 0 auto; 
    padding: 15px 0;
}

.header
{
    box-sizing: border-box;
    padding-bottom: 180px; 

    background-image: url('../img/header_bg.jpg');
    background-size: cover;
}
.header__call-us
{
    box-sizing: border-box;

    text-align: center; 

    border: 2px solid #3ab0e7;
    border-radius: 2px;
}
.header__call-us-link
{
    font-size: 12px;
    font-weight: 700;

    display: block;

    padding: 15px 0;

    text-align: center; 
    text-decoration: none;
    text-transform: uppercase;

    color: #36aeea;
}
.header__bottom-content
{
    box-sizing: border-box;
    padding: 50px 50px; 

    border: 4px solid #fff;
    border-radius: 4px;
}
.header__bottom-description
{
    font-size: 18px;
    font-weight: 400;
    line-height: 29px; 

    opacity: .75;
    color: #fff;
}
.header__toggle-btn
{
    display: none;
}

.logo__text
{
    font-family: 'Bringin', 'Arial', sans-serif;
    font-size: 29px;
    line-height: 44px;

    text-transform: capitalize;

    color: #36aeea;
}

.main
{
    background-color: orangered;
}

.box
{
    height: 25px;
    margin-bottom: 10px;

    background-color: darkgray;
}

.tinted
{
    background-color: red;
}

@media (max-width: 1170px)
{
    .main
    {
        background-color: blue;
    }
}

@media (max-width: 900px)
{
    .main
    {
        background-color: green;
    }
}

.nav__list
{
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0; 

    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav__item
{
    list-style: none;
}

.nav__link
{
    font-size: 12px;
    font-weight: 700;
    line-height: 44px;

    text-decoration: none; 
    text-transform: uppercase;

    color: #9daeb6;
}

.page-title__text-upper
{
    font-size: 50px;
    font-weight: bold;

    text-align: left;
    text-transform: uppercase; 

    color: #fff;
}

.page-title__text-bottom
{
    font-family: 'Bringin', 'Arial', sans-serif;
    font-size: 66px;
    font-weight: normal;
    line-height: 40px;

    text-align: left;

    color: #56c7ff;
}
