$body-color: #fff;
$light-blue: #36aeea;
$action-link-color: #3ab0e7;
$page-title-bottom-color: #56c7ff;
$nav-link-color: #9daeb6;

$fsz12: 12px;
$fsz14: 14px;
$fsz18: 18px;
$fsz29: 29px;
$fsz50: 50px;
$fsz66: 66px;

$lh29: 29px;
$lh40: 40px;
$lh44: 44px;
