$body-color: #fff;
$light-blue: #36aeea;
$action-link-color: #3ab0e7;
$page-title-bottom-color: #56c7ff;
$gray-section-bg: #f6f4f4;
$nav-link-color: #9daeb6;
$section-title-color: #2c2e37;
$gray-section-content-color: #949494;
$journal-item-short-msg-color: #0083b3;
$journal-item-title-color: #202020;
$journal-item-description-color: #777777;
$journal__item-number: #212121;
$form-contacts-input-text-color: #848484;
$input-border-focus-color: #07902a;

$fsz12: 12px;
$fsz14: 14px;
$fsz15: 15px;
$fsz16: 16px;
$fsz17: 17px;
$fsz18: 18px;
$fsz20: 20px;
$fsz29: 29px;
$fsz30: 30px;
$fsz50: 50px;
$fsz66: 66px;

$lh13: 13px;
$lh18: 18px;
$lh24: 24px;
$lh26: 26px;
$lh29: 29px;
$lh34: 34px;
$lh40: 40px;
$lh43: 43px;
$lh44: 44px;
