.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  &--about-us{
    padding: 250px 0;
    background-image: url("../img/about-us_bg.png");
    background-repeat: no-repeat;
    background-position: 29px 65px;
  }
  &--header-upper{
    margin-bottom: 150px;
  }
  &--journal{

  }
  &--send-contacts{
    padding: 150px 0 350px;
  }
  &--footer-container{
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: $toast-breakpoint-medium) {
}
@media (max-width: $toast-breakpoint-small) {
}
