.main{

}
.box{
  height: 25px;
  margin-bottom: 10px;
  background-color: darkgray;
}
.tinted{
  background-color: red;
}
@media (max-width: $toast-breakpoint-medium) {
  .main{
    background-color: blue;
  }
}
@media (max-width: $toast-breakpoint-small) {
  .main{
    background-color: green;
  }
}

