.proposal{
  background-image: url("../img/proposal-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__list{
    font-size: 0;
  }
  &__item{
    display: inline-block;
    width: 200px;
    height: 382px;
    padding: 0 25px;
    margin-right: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    background-repeat: no-repeat;
    &-rates{
      box-sizing: border-box;
      padding-left: 18px;
      &-counter{
        display: block;
        height: 70px;
        background-image: url("../img/conter-stars.png");
        background-repeat: no-repeat;
      }
    }
    &-title{
      margin-bottom: 20px;
      color: #ffffff;
      font-size: 28px;
      font-weight: 400;
      line-height: 63px;
    }
    &-description{
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
    &-prices{

    }
    &-old-price{
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-decoration: line-through;

    }
    &-new-price{
      color: #ffffff;
      font-size: 26px;
      font-weight: 700;
      line-height: 22px;
    }
  }
}
.proposal__item:nth-child(1){
  background-image: url("../img/prop-img1.jpg");
  & .proposal__item-rates-counter{
    width: 79px;
  }
}
.proposal__item:nth-child(2){
  background-image: url("../img/prop-img2.jpg");
  & .proposal__item-rates-counter{
    width: 79px;
  }
}
.proposal__item:nth-child(3){
  background-image: url("../img/prop-img3.jpg");
  & .proposal__item-rates-counter{
    width: 79px;
  }
}
.proposal__item:nth-child(4){
  background-image: url("../img/prop-img4.jpg");
  & .proposal__item-rates-counter{
    width: 79px;
  }
}
.proposal__item:nth-child(5){
  background-image: url("../img/prop-img5.jpg");
  & .proposal__item-rates-counter{
    width: 79px;
  }
}
.proposal__item:nth-child(5n){
  margin-right: 0;
}
